---
title: Home
layout: default
background: '/img/bg-index.jpg'
---

<!-- Home Intro -->
{% if page.url == "/" %}
<div class="mt-1 mb-3 hero">
  <div class="row text-center">
    <div class="col-sm-12">
      <h2 class="bsts-hero-text font-weight-bold pb-5 serif-font">Boosters Tech</h2>
      <p class="bsts-hero-text lead">커머스를 자동화하는 전무후무한 시스템을 개발하는 <br><span style='color:#FFF; font-weight:bold;'>부스터스 테크팀</span>의 이야기를 전달합니다.</p>
    </div>
  </div>
</div>
{% endif %}

<!-- Posts List with Sidebar -->
<section class="container container-wide">
  <div class="col-12 py-3">
    <ul class="nav nav-tabs bsts-nav-tabs" id="myTab" role="tablist">
      <li class="nav-item bsts-nav-item" role="presentation">
        <button class="nav-link bsts-nav-link active bsts-cursor-pointer" id="all-tab" data-bs-toggle="tab" data-bs-target="#all" type="button" role="tab" aria-controls="all" aria-selected="true">All</button>
      </li>
      <li class="nav-item bsts-nav-item" role="presentation">
        <button class="nav-link bsts-nav-link bsts-cursor-pointer" id="tech-tab" data-bs-toggle="tab" data-bs-target="#tech" type="button" role="tab" aria-controls="tech" aria-selected="false">Tech</button>
      </li>
      <li class="nav-item bsts-nav-item" role="presentation">
        <button class="nav-link bsts-nav-link bsts-cursor-pointer" id="culture-tab" data-bs-toggle="tab" data-bs-target="#culture" type="button" role="tab" aria-controls="culture" aria-selected="false">Culture</button>
      </li>
    </ul>
    
    태그 리스트
    <div class="mt-4">
      {% include tag_list.html %}
    </div>
    
    <div class="tab-content" id="tabContent">
      <!-- All Posts -->
      <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
        {% include posts_tab.html posts=site.posts filter="" %}
      </div>
      <!-- Tech Posts -->
      <div class="tab-pane fade" id="tech" role="tabpanel" aria-labelledby="tech-tab">
        {% include posts_tab.html posts=site.posts filter="tech" %}
      </div>
      <!-- Culture Posts -->
      <div class="tab-pane fade" id="culture" role="tabpanel" aria-labelledby="culture-tab">
        {% include posts_tab.html posts=site.posts filter="culture" %}
      </div>
    </div>
  </div>
</section>
