<div class="bsts-landing-page" id="landing-page">
  <h1 id="bsts-landing-first" class="mx-2 mx-sm-0" style="color: #FFF; display: none;">
    데이터의 해상도를 높여
  </h1>

  <h1 id="bsts-landing-second" class="mx-2 mx-sm-0" style="color: #FFF; display: none;">
    커머스를 <span class="bsts-slideup-text" style="color: #FF4713;">자동화</span>하다
  </h1>

  <h1 id="bsts-landing-third" class="mx-2 mx-sm-0" style="display: none;">
    <img src="assets/images/TECH_A_WHITE_B.png" alt="BOOSTERS TECH">
  </h1>
</div>