/*
Don't want to use sass and simply modify the stylesheet in the old css fashion?
Just customize your theme here.
================================================== */

body {}

/** 드래그 **/
::selection {  color: #fff;  background-color: #FF4713;}

.btn-bsts {
    background-color: #1D1D1B;
}
.bsts-card-title {
  margin-bottom: 0.35rem;
}