/*
Don't want to use sass and simply modify the stylesheet in the old css fashion?
Just customize your theme here.
================================================== */

/** padding **/
.py-45 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.py-10 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

/** cursor **/
.bsts-cursor-pointer {
  cursor: pointer;
}

/** 드래그 **/
::selection {  color: #fff;  background-color: #FF4713;}

/** 탭 메뉴 **/
.nav-link {
  padding: 1rem;
}
.nav-tabs .nav-link {
  position: relative;
}
.nav-tabs .nav-link.active::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #FF4713;
  color: #1D1D1B;
  border-radius: 30px;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #1D1D1B;
  background-color: #dee2e600;
  border-color: #dee2e600 #dee2e600 #dee2e600;
  font-weight: 600;
}
.nav-tabs .nav-link {
  font-weight: 600;
  color: #BDBDBD;
  background-color: #ffffff00;
  font-size: 1.25rem;
}
.bsts-nav-tabs {
  display: flex;
  justify-content: center;
  width: 100%;
}
.bsts-nav-item {
  flex: 1;
  text-align: center;
}
.bsts-nav-link {
  display: block;
  width: 100%;
}

.bsts-hero-text{
  color: #FFF;
}
.btn-bsts {
  background-color: #1D1D1B;
}
.bsts-card-title {
  margin-bottom: 1.15rem;
}
.bsts-sub-title {
  font-size: 16px;
  overflow-wrap: break-word;
}
.bsts-post-name {
  color: #1D1D1B;
  font-weight: 300;
}
.bsts-post-avatar img {
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 50%;
  border: 1px solid #BDBDBD50;
}
.bsts-tag {
  display:inline-block;
	color: #FF4713;
  font-size: 0.9rem;
  font-weight: 600;
  padding-right: 8px;
}
.bsts-tag-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.bsts-tag-list {
  background-color: #f0f0f0;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 0.9rem;
}
.bsts-tag-list a {
  text-decoration: none;
  color: #333;
}

.bsts-tag-list a.selected {
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  text-decoration: none;
}

.bsts-tag-list a {
  cursor: pointer;
  margin-right: 5px;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}