---
layout: default
---
<!-- Post Featured Image -->
{% if page.image %}
<div class="text-center mx-auto mb-5">
  <img class="featured-image text-center mx-auto rounded" src="{{ site.baseurl }}/{{ page.image }}" alt="{{ page.title }}">
  <iframe id="VideoWorker-0" frameborder="0" allowfullscreen="" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" title="부스터스 홍보 영상" width="640" height="360" src="https://www.youtube-nocookie.com/embed/pxIHVjsKvj0?autohide=1&amp;rel=0&amp;autoplay=0&amp;playsinline=1&amp;iv_load_policy=3&amp;modestbranding=1&amp;controls=0&amp;showinfo=0&amp;disablekb=1&amp;enablejsapi=1&amp;origin=https%3A%2F%2Fboosters.kr&amp;widgetid=1" tabindex="-1" aria-hidden="true" style="position: absolute; inset: 0px; width: 1903px; height: 1470.44px; max-width: none; max-height: none; pointer-events: none; transform-style: preserve-3d; backface-visibility: hidden; will-change: transform, opacity; margin: -275.719px 0px 0px; z-index: -1; transform: translate3d(0px, 0px, 0px);"></iframe>
</div>
{% endif %}
<!-- End Featured Image -->

<div class="col-lg-10 mx-auto">

  <div class="mainheading">
    <h1 class="posttitle">{{ page.title }}</h1>
  </div>

  <div class="article-post serif-font">
    {{content}}
  </div>

  {% if page.comments == true %}
  <div id="comments">
      {% include disqus.html %}
  </div>
  {% endif %}

</div>
