---
layout: default
---
<!-- Post Featured Image -->
{% if page.image %}
  <img src="assets/images/custom/about-techteam.jpg" alt="TECHTEAM" class="pb-4">
<div class="text-center mx-auto my-4">
  <img class="featured-image text-center mx-auto" src="{{ site.baseurl }}/{{ page.image }}" alt="{{ page.title }}">
</div>
{% endif %}
<!-- End Featured Image -->

<div class="col-lg-10 mx-auto">

  <!-- <div class="mainheading">
    <h1 class="posttitle">{{ page.title }}</h1>
  </div> -->

  <div class="article-post container container-wide serif-font">
    {{content}}
  </div>

  {% if page.comments == true %}
  <div id="comments">
      {% include disqus.html %}
  </div>
  {% endif %}

</div>
